<!DOCtype html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--<form name="a_search" action="something.html" method="get">-->

</form>
    <table>
        <tr>
            <td>City:</td>
            <td>
                <input type="text" name="city" size="15">
            </td>
        </tr>
        <tr>
            <td>Country:</td>
            <td><input type="text" name="country" size="15"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input type="text" name="category" size="15"></td>
        </tr>
        <tr>
            <td>Tags:</td>
            <td><input type="text" name="tags" size="15"></td>
        </tr>
        <tr>
            <td>From:</td>
            <td><input type="date" name="from"></td>
        </tr>
        <tr>
            <td>To:</td>
            <td><input type="date" name="to"></td>
        </tr>
    </table>
    <P><input type="SUBMIT" VALUE="Search" name="adv_search"></P>
<!--</form>-->
</body>
</html>
