<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie9">
  <![endif]-->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="EventFeed - created by people for people">
    <meta name="keywords" content="Event, find, invite, register">
    <title>Event Feed</title>
    <!-- CSS -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="/css/vendors/bootstrap.min.css" rel="stylesheet">
    <link href="/css/vendors/animate.min.css" rel="stylesheet">
    <link href="/css/vendors/font-awesome.min.css" rel="stylesheet">
    <link href="/css/vendors/form.css" rel="stylesheet">
    <link href="/css/vendors/calendar.css" rel="stylesheet">
    <link href="/css/vendors/style.css" rel="stylesheet">
    <link href="/css/vendors/icons.css" rel="stylesheet">
    <link href="/css/vendors/generics.css" rel="stylesheet">
    <link href="/css/vendors/jquery.slidepanel.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      html, body, #map-canvas { height: 100%;margin: 0; padding: 0;}
	  tr.spaceUnder > td{
	      padding-bottom: 4em;
	  }
      #search-panel {
          position: absolute;
          top: 5px;
          left: 50%;
          margin-left: -180px;
          z-index: 5;
          background-color: #fff;
          padding: 5px;
          border: 1px solid #999;
      }

      #directions-panel {
          height: 100%;
          float: right;
          width: 390px;
          overflow: auto;
          margin-top: 64px;
          position: absolute;
          float: right;
          padding-right: 3px;
          background-image: url(/img/body/violate.jpg);
          right: 0;
          z-index: 1;
      }
      #control {
          background: #fff;
          padding: 5px;
          font-size: 14px;
          font-family: Arial;
          border: 1px solid #ccc;
          box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
          display: none;
      }

      @media print {
          #map-canvas {
              height: 500px;
              margin: 0;
          }

          #directions-panel {
              float: none;
              width: auto;
          }
      }
    </style>
    <link href="/css/override.css" rel="stylesheet" type="text/css">
  </head>
  <body id="skin-blur-violate">
    <script>
      window.fbAsyncInit = function() {
       FB.init({
       appId      : '290517661140837',
       xfbml      : true,
       version    : 'v2.1'
       });

      };

    //    (function(d, s, id){
    //     var js, fjs = d.getElementsByTagName(s)[0];
    //  if (d.getElementById(id)) {return;}
   //   js = d.createElement(s); js.id = id;
   //   js.src = "//connect.facebook.net/en_US/sdk.js";
   //   fjs.parentNode.insertBefore(js, fjs);
   //     }(document, 'script', 'facebook-jssdk'));
		  </script>

		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1469462683327868&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



  <!--  <header id="header" class="media">
      <a href="" id="menu-toggle"></a>
      <a class="logo pull-left" href="/" style="padding-left: 50px;"><img class="logo-img" src="/img/logo.jpg">EventFeed.me</a>
      <div class="media-body">
        <div class="media" id="top-menu">
          <div id="time" class="pull-right hidden-sm hidden-xs">
            <span id="hours"></span>
            :
            <span id="min"></span>
            :
            <span id="sec"></span>
          </div>
          <div class="media-body">
            <div class="row">
              <div >
                <a data-toggle="modal" href="#modalLogout" class="btn btn-md">Logout</a>
				  <input type="button" class="btn btn-md" value="Toggle Street View" onclick="toggleStreetView();"></input>
                <a href="/profile" class="btn btn-md">Home</a>
				<div style="padding-bottom: 4em; "> </div>
				<b style="text-align: center;">Upcoming Events</b>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>  -->
    <div class="clearfix"></div>
    <section id="mai" class="p-relative mob" role="main">
      <!-- Sidebar -->
      <aside id="sidebar">
        <!-- Sidbar Widgets -->
        <div class="side-widgets overflow">
          <!-- Profile Menu -->
          <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
            <a href="" data-toggle="dropdown">
            <img class="profile-pic animated" src="img/profile-pic.jpg" alt="">
            </a>
            <ul class="dropdown-menu profile-menu">
              <li><a href="">My Profile</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
              <li><a href="">Messages</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
              <li><a href="">Settings</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
              <li><a href="">Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            </ul>
            <h4 class="m-0"><%= username %></h4>
          </div>
          <!-- Calendar -->
          <div class="s-widget m-b-25">
            <div id="sidebar-calendar"></div>
          </div>
          <!-- Feeds -->
          <div class="s-widget m-b-25">
            <h2 class="tile-title">
              News Feeds
            </h2>
            <div class="s-widget-body">
              <div id="news-feed"></div>
            </div>
          </div>
          <!-- Projects -->
          <div class="s-widget m-b-25">
            <h2 class="tile-title">
              Projects on going
            </h2>
            <div class="s-widget-body">
              <div class="side-border">
                <small>Joomla Website</small>
                <div class="progress progress-small">
                  <a href="#" data-toggle="tooltip" title="" class="progress-bar tooltips progress-bar-danger" style="width: 60%;" data-original-title="60%">
                  <span class="sr-only">60% Complete</span>
                  </a>
                </div>
              </div>
              <div class="side-border">
                <small>Opencart E-Commerce Website</small>
                <div class="progress progress-small">
                  <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-info" style="width: 43%;" data-original-title="43%">
                  <span class="sr-only">43% Complete</span>
                  </a>
                </div>
              </div>
              <div class="side-border">
                <small>Social Media API</small>
                <div class="progress progress-small">
                  <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-warning" style="width: 81%;" data-original-title="81%">
                  <span class="sr-only">81% Complete</span>
                  </a>
                </div>
              </div>
              <div class="side-border">
                <small>VB.Net Software Package</small>
                <div class="progress progress-small">
                  <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: 10%;" data-original-title="10%">
                  <span class="sr-only">10% Complete</span>
                  </a>
                </div>
              </div>
              <div class="side-border">
                <small>Chrome Extension</small>
                <div class="progress progress-small">
                  <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: 95%;" data-original-title="95%">
                  <span class="sr-only">95% Complete</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Side Menu -->
        <ul class="list-unstyled side-menu">
          <li class="active">
            <a class="sa-side-home" href="/profile">
            <span class="menu-item">Home</span>
            </a>
          </li>
          <li>
            <a class="sa-side-typography" href="/friends">
            <span class="menu-item">Friends</span>
            </a>
          </li>
          <li>
            <a class="sa-side-widget" href="/events">
            <span class="menu-item">Events</span>
            </a>
          </li>
          <li>
            <a class="sa-side-table" href="/logout">
            <span class="menu-item">Logout</span>
            </a>
          </li>
        </ul>
      </aside>
      <!-- Content -->
      <section id="content" class="container">
        <hr class="whiter" />
        <div class="row" style="height: 100%;">
          <div class="col-md-12">
            <div class="tile">
              <div id="directions-panel"></div>
              <div style="height: 800px;padding:0px !important;margin: 0px;width: auto;">
				<div style="padding-bottom: 5em; text-align: center"></div>
			<h2 style="text-align: center;">Events You Host</h2>
			 <a data-toggle="modal" href="#modalLogout" class="btn btn-md">Logout</a>
				  <input " type="button" class="btn btn-md" value="Toggle Street View" onclick="toggleStreetView();"></input>
                <a href="/profile" class="btn btn-md">Home</a>
				<table>
				 <tr>
				 <td>
					 <table id="myTable" style="width:auto; height:70%; ">
					  <tr class="spaceUnder">
					  </tr>
					  <tr class="spaceUnder">
						<td style=" padding: 10px; vertical-align: top;"><div id="map-event0"  style="visibility:hidden; width: 300px; height: 200px"></div></td>
						<td style=" padding: 10px; vertical-align: top;"><div id="event-desc0"  style="visibility:hidden; font-size: 120%;"></div><div class="fb-like" data-href="http://zenit.senecac.on.ca:9118/"
						data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></td>

					  </tr>
					  <tr class="spaceUnder">
						<td style=" padding: 10px; vertical-align: top;"><div id="map-event1" style="visibility:hidden; width: 300px; height: 200px"></div></td>
						<td style=" padding: 10px; vertical-align: top;"><div id="event-desc1"  style="visibility:hidden; font-size: 120%;"></div></td>

					  </tr>
					  <tr class="spaceUnder">
						<td style=" padding: 10px; vertical-align: top;"> <div id="map-event2" style="visibility:hidden; width: 300px; height: 200px"></div></td>
						<td style=" padding: 10px; vertical-align: top;"><div id="event-desc2"  style="visibility:hidden; font-size: 120%;"> </div></td>
					  </tr>
					</table>
					</td>
					<td style=" padding: 10px; vertical-align: top;"><div id="event-showUsers"  style="visibility:hidden; font-size: 150%;"></div></td>
					</tr>
					</table>
				</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- </div> -->
        <!-- Chat -->
        <div class="chat">
          <!-- Chat List -->
          <div class="pull-left chat-list">
            <div class="listview narrow">
              <div class="media">
                <img class="pull-left" src="img/profile-pics/1.jpg" width="30" alt="">
                <div class="media-body p-t-5">
                  Alex Bendit
                </div>
              </div>
              <div class="media">
                <img class="pull-left" src="img/profile-pics/2.jpg" width="30" alt="">
                <div class="media-body">
                  <span class="t-overflow p-t-5">David Volla Watkinson</span>
                </div>
              </div>
              <div class="media">
                <img class="pull-left" src="img/profile-pics/3.jpg" width="30" alt="">
                <div class="media-body">
                  <span class="t-overflow p-t-5">Mitchell Christein</span>
                </div>
              </div>
              <div class="media">
                <img class="pull-left" src="img/profile-pics/4.jpg" width="30" alt="">
                <div class="media-body">
                  <span class="t-overflow p-t-5">Wayne Parnell</span>
                </div>
              </div>
              <div class="media">
                <img class="pull-left" src="img/profile-pics/5.jpg" width="30" alt="">
                <div class="media-body">
                  <span class="t-overflow p-t-5">Melina April</span>
                </div>
              </div>
              <div class="media">
                <img class="pull-left" src="img/profile-pics/6.jpg" width="30" alt="">
                <div class="media-body">
                  <span class="t-overflow p-t-5">Ford Harnson</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Chat Area -->
          <div class="media-body">
            <div class="chat-header">
              <a class="btn btn-sm" href="">
              <i class="fa fa-circle-o status m-r-5"></i> Chat with Friends
              </a>
            </div>
            <div class="chat-body">
              <div class="media">
                <img class="pull-right" src="img/profile-pics/1.jpg" width="30" alt="" />
                <div class="media-body pull-right">
                  Hiiii<br/>
                  How you doing bro?
                  <small>Me - 10 Mins ago</small>
                </div>
              </div>
              <div class="media pull-left">
                <img class="pull-left" src="img/profile-pics/2.jpg" width="30" alt="" />
                <div class="media-body">
                  I'm doing well buddy. <br/>How do you do?
                  <small>David - 9 Mins ago</small>
                </div>
              </div>
              <div class="media pull-right">
                <img class="pull-right" src="img/profile-pics/2.jpg" width="30" alt="" />
                <div class="media-body">
                  I'm Fine bro <br/>Thank you for asking
                  <small>Me - 8 Mins ago</small>
                </div>
              </div>
              <div class="media pull-right">
                <img class="pull-right" src="img/profile-pics/2.jpg" width="30" alt="" />
                <div class="media-body">
                  Any idea for a hangout?
                  <small>Me - 8 Mins ago</small>
                </div>
              </div>
            </div>
            <div class="chat-footer media">
              <i class="chat-list-toggle pull-left fa fa-bars"></i>
              <i class="pull-right fa fa-picture-o"></i>
              <div class="media-body">
                <textarea class="form-control" placeholder="Type something..."></textarea>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <!-- Modals -->
    <!-- Register event -->
    <div id="#dmodalShowUsers" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Register for event</h4>
          </div>
          <div class="modal-body">
            <h4>Register for event</h4>
            <p>Thank you for registering for an event!</p>
            <p>Please check your email for more information.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Create modal -->
    <div class="modal fade" id="modalShowUsers0" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Creating new event</h4>
          </div>
          <div class="modal-body">
            <h4 class="block-title">Provide information about the event you want to create!</h4>
			<div id ="event-showUsers">   </div>
          </div>
          <div class="block-area" id="multi-column">
            <form class="row form-columned" role="form">
              <div class="col-md-4">
                <input id="name" type="text" class="form-control input-sm m-b-10" placeholder="Name">
              </div>
              <div class="col-md-4">
                <input id="address" type="text" class="form-control input-sm m-b-10" placeholder="Address">
              </div>
              <div class="col-md-4">
                <div id="cat" class="btn-group m-b-6">
                  <button type="button" class="btn btn-sm">Category</button>
                  <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu animated fadeIn">
                    <li><a href="#">Fun</a></li>
                    <li><a href="#">Friends</a></li>
                    <li><a href="#">Family</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Holidays</a></li>
                    <li><a href="#">Concert</a></li>
                    <!-- <li class="divider"></li>
                      <li><input type="text" class="form-control input-sm m-b-10" placeholder="New Category"></li> -->
                  </ul>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-4">
                <input id="date" type="text" class="form-control input-sm m-b-10" placeholder="Date">
              </div>
              <div class="col-md-4">
                <input id="time" type="text" class="form-control input-sm m-b-10" placeholder="Time">
              </div>
              <div class="col-md-12">
                <textarea id="description" class="form-control m-b-10" placeholder="Description"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="createButton" type="button" class="btn btn-sm">Create event</button>
            <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
     <!-- Logout modal-->
    <div id="modalLogout" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Logout</h4>
          </div>
          <div class="modal-body">
            <h4>Logout</h4>
            <p>Are you sure you want to Logout?</p>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Signup modal-->
    <div id="modalSign-up" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Sign-up</h4>
          </div>
          <div class="modal-body">
            <h4>Sign-up</h4>
            <form action="/local-signup" method="post">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstName">
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lastName">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <div class="form-group">
                <label>Default Location</label>
                <input type="text" class="form-control" name="location">
              </div>
              <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" name="PhoneNUm">
              </div>
              <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </form>
            <h4>Sign-up with Facebook</h4>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>  Facebook</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Info Modal -->
    <div id="modalInfo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Info</h4>
          </div>
          <div class="modal-body">
            <h4>Info</h4>
            <p>More detailed info of the event</p>
            <button type="button" onclick="calcRoute()" class="btn btn-sm btn-default">Direction</button>&nbsp;
            <button type="button" onclick="register()" id="reg" class="btn btn-sm btn-primary">Register</button>
            <button type="button" onclick="register()" id="reg" class="btn btn-sm btn-primary">Edit</button>
            <button type="button" onclick="register()" id="reg" class="btn btn-sm btn-primary">Delete</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript Libraries -->
    <!-- jQuery -->
    <script src="/js/vendors/jquery.min.js"></script> <!-- jQuery Library -->
    <script src="/js/vendors/jquery-ui.min.js"></script> <!-- jQuery UI -->
    <!-- Bootstrap -->
    <script src="/js/vendors/bootstrap.min.js"></script>
    <!--  Form Related -->
    <script src="/js/vendors/icheck.js"></script> <!-- Custom Checkbox  Radio -->
    <!-- UX -->
    <script src="/js/vendors/scroll.min.js"></script> <!-- Custom Scrollbar -->
    <!-- Other -->
    <script src="/js/vendors/calendar.min.js"></script> <!-- Calendar -->
    <script src="/js/vendors/feeds.min.js"></script> <!-- News Feeds -->
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

    <script src="/js/vendors/jquery.geocomplete.min.js"></script>
    <!-- All JS functions -->
    <script src="/js/vendors/functions.js"></script>
    <script type="text/javascript" src="/js/vendors/jquery.slidepanel.js"></script>
    <script type="text/javascript" src="/js/markerclusterer.js"></script>
    <script type="text/javascript" src="/js/createEvent.js"></script>
    	<script type="text/javascript" src="/js/profileMap.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>

  </body>
</html>
