<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie9">
  <![endif]-->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>Event Feed</title>
    <!-- CSS -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="/css/vendors/bootstrap.min.css" rel="stylesheet">
    <link href="/css/vendors/animate.min.css" rel="stylesheet">
    <link href="/css/vendors/font-awesome.min.css" rel="stylesheet">
    <link href="/css/vendors/form.css" rel="stylesheet">
    <link href="/css/vendors/calendar.css" rel="stylesheet">
    <link href="/css/vendors/style.css" rel="stylesheet">
    <link href="/css/vendors/icons.css" rel="stylesheet">
    <link href="/css/vendors/generics.css" rel="stylesheet">
    <link href="/css/vendors/jquery.slidepanel.css" rel="stylesheet" type="text/css">
    <script src="/js/vendors/jquery.min.js"></script> <!-- jQuery Library -->
    <style type="text/css">
      html, body, #map-canvas { height: 100%;margin: 0; padding: 0;}
      #search-panel {
          position: absolute;
          top: 5px;
          left: 50%;
          margin-left: -180px;
          z-index: 5;
          background-color: #fff;
          padding: 5px;
          border: 1px solid #999;
      }

      #directions-panel {
          height: 100%;
          float: right;
          width: 390px;
          overflow: auto;
          margin-top: 64px;
          position: absolute;
          float: right;
          padding-right: 3px;
          background-image: url(/img/body/violate.jpg);
          right: 0;
          z-index: 1;
      }
      #control {
          background: #fff;
          padding: 5px;
          font-size: 14px;
          font-family: Arial;
          border: 1px solid #ccc;
          box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
          display: none;
      }
      @media print {
          #map-canvas {
              height: 500px;
              margin: 0;
          }

          #directions-panel {
              float: none;
              width: auto;
          }
      }
    </style>
    <link href="/css/override.css" rel="stylesheet" type="text/css">
  </head>
  <body id="skin-blur-violate">
    <script>
      window.fbAsyncInit = function() {
       FB.init({
       appId      : '290517661140837',
       xfbml      : true,
       version    : 'v2.1'
       });
         };

        (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        $("html").addClass("menu-active");
    </script>
    <header id="header" class="media">
      <a class="logo pull-left" href="/"><img class="logo-img" src="/img/logo.jpg">EventFeed.me</a>
      <div class="media-body">
        <div class="media" id="top-menu">
          <div id="time" class="pull-right hidden-sm hidden-xs">
            <span id="hours"></span>
            :
            <span id="min"></span>
            :
            <span id="sec"></span>
          </div>
          <div class="media-body">
            <div class="row">
              <div class="col-lg-5 col-xs-12">
                <input type="text" class="form-control m-b-10" id="searchtxt" placeholder="Enter event name">
              </div>
              <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                <button type="button" class="btn btn-md" onclick="search();">Search</button>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <a data-toggle="modal" href="#modalCreate" class="btn btn-md">Create Event</a>
              </div>
              <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                <a data-toggle="modal" href="#modalLogin" class="btn btn-md">Login</a>
              </div>
              <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                <a data-toggle="modal" href="#modalSign-up" class="btn btn-md">Sign-Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="clearfix"></div>
    <section id="mai" class="p-relativ" role="mai">

      <section id="content" class="container">
        <hr class="whiter" />
        <div class="row" style="height: 100%;">
          <div class="col-md-12">
            <div class="tile">
              <div style="height: 800px;padding:0px !important;margin: 0px;width: auto;">
                <div id="directions-panel"></div>
                <div id="map-canvas" style="overflow: visible !important;"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>

      </section>
    </section>
    <!-- Modals -->
   <!-- Register Modal -->
   <div id="modalRegister" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           <h4 class="modal-title" id="myModalLabel">Register for event</h4>
         </div>
         <div class="modal-body">
           <h4>Register for event</h4>
           <p>Please Sign-up or Login to Register for event </p>
           <a data-toggle="modal" href="#modalLogin" class="btn btn-md">Login</a>
           <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>  Facebook login</a>
           or <a data-toggle="modal" href="#modalSign-up" class="btn btn-md">Sign-Up</a>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
         </div>
       </div>
     </div>
   </div>
	 <!-- Create Modal-->
    <div id="modalCreate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Create Event</h4>
          </div>
          <div class="modal-body">
            <h4>Create Event</h4>
            <p>Please Sign-up or Login to Create Event </p>
            <a data-toggle="modal" href="#modalLogin" class="btn btn-md">Login</a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>  Facebook login</a>
            or <a data-toggle="modal" href="#modalSign-up" class="btn btn-md">Sign-Up</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Login modal-->
    <div id="modalLogin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <h4>Login</h4>
            <p>If you have an account already, login with your email.</p>
            <form action="/local-login" method="post">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" required>
              </div>
              <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>
            <h4>Login with Facebook</h4>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>  Facebook</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Signup modal-->
    <div id="modalSign-up" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Sign-up</h4>
          </div>
          <div class="modal-body">
            <h4>Sign-up</h4>
            <form action="/local-signup" method="post">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstName">
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lastName">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" required>
              </div>
              <div class="form-group">
                <label>Default Location</label>
                <input type="text" class="form-control" name="location">
              </div>
              <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" name="PhoneNum">
              </div>
              <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </form>
            <h4>Sign-up with Facebook</h4>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>  Facebook</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Info Modal -->
    <div id="modalInfo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Info</h4>
          </div>
          <div class="modal-body">
            <h4>Info</h4>
            <p>More detailed info of the event</p>
            <button type="button" onclick="calcRoute()" class="btn btn-sm btn-default">Direction</button>&nbsp;
            <button type="button" onclick="register()" id="reg" class="btn btn-sm btn-primary">Register</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
    <!-- Javascript Libraries -->
    <!-- jQuery -->
    <script src="/js/vendors/jquery-ui.min.js"></script> <!-- jQuery UI -->
    <!-- Bootstrap -->
    <script src="/js/vendors/bootstrap.min.js"></script>
    <!--  Form Related -->
    <script src="/js/vendors/icheck.js"></script> <!-- Custom Checkbox  Radio -->
    <!-- UX -->
    <script src="/js/vendors/scroll.min.js"></script> <!-- Custom Scrollbar -->
    <!-- Other -->
    <script src="/js/vendors/calendar.min.js"></script> <!-- Calendar -->
    <script src="/js/vendors/feeds.min.js"></script> <!-- News Feeds -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script> <!-- google map API Places -->
    <script src="/js/vendors/jquery.geocomplete.min.js"></script>
    <!-- All JS functions -->
    <script src="/js/vendors/functions.js"></script>
    <script type="text/javascript" src="/js/vendors/jquery.slidepanel.js"></script>
    <script type="text/javascript" src="/js/markerclusterer.js"></script>
    <script type="text/javascript" src="/js/createEvent.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
  </body>
</html>
