.p-10 {
  min-height: 600px;
  max-height: 1000px;
  height: 100%;
}
#map-canvas img{
  max-width: none;
  color: #000 !important;
}

.pac-container {
  z-index: 9999;
}

.markerInfo {
  color: #333 !important;
  margin: 0px !important;
  max-height: 300px !important;
  min-height: 220px !important;
}
.gm-style-iw {
  width: 324px !important;
  height: 220px !important;
}

.adp-summary {
  font-size: 14px !important;
  color: #64DD17 !important;
  font-weight: 600 !important;
}
.adp-directions {
  color: #fff !important;
}

@media (max-width: 700px) {
  .media-body a, .media-body button {
    width: 100%;
  }
}
